---
layout: page
---
{% if page.status == 'todo' %}
<div class="status {{page.status}}">本章内容尚未写作。<br>
    如果你对本篇指南的进展感兴趣，可以<a href="https://github.com/lhunath/bash.academy">点击这里</a>为源仓库加星。</div>
{% elsif page.status == 'draft' %}
<div class="status {{page.status}}">本章仍在写作中。它尚不完整，还有待时不时地更新，内容也很有可能会被移动。<br>
    如果你对本篇指南的进展感兴趣，可以<a href="https://github.com/lhunath/bash.academy">点击这里</a>为源仓库加星。</div>
{% elsif page.status == 'alpha' %}
<div class="status {{page.status}}">本章内容的写作目标已达成，现等待像你这样的读者的审阅与反馈。<br>
    如果你对本篇指南的进展感兴趣，可以<a href="https://github.com/lhunath/bash.academy">点击这里</a>为源仓库加星。</div>
{% elsif page.status == 'beta' %}
<div class="status {{page.status}}">本章的写作已完成，请享用。如果你发现任何值得改善的地方，请告知我们。<br>
    如果你对本篇指南的进展感兴趣，可以<a href="https://github.com/lhunath/bash.academy">点击这里</a>为源仓库加星。</div>
{% endif %}

{{ content }}

<aside class="nav">
    {% assign found = false %}
    {% assign chapters = site.pages | where: 'layout', 'chapter' | sort: 'chapter' %}
    {% for chapter in chapters %}
        {% if found %}
            <a href="{{ chapter.url }}">Next up: {{ chapter.title }}</a>
            {% break %}
        {% endif %}

        {% if chapter == page %}
            {% assign found = true %}
        {% endif %}
    {% endfor %}
</aside>
